.sidenav{
  grid-area: sidenav;
}


.sidenav-menu{
  padding: 30px;
}

.sidenav-menu li a{
  display: block;
  padding: 30px;
  background-color: #ffffff;
  max-width: 100px;
  min-width: 60px;
  margin: 0px auto 30px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px #41414131;
  transition: .3s ease-in;
}

.sidenav-menu li a:hover{
  background-color: rgb(159, 128, 206);
}


@media (max-width: 760px){
  .sidenav{
    overflow-x: auto;
  }
  .sidenav-menu{
    display: flex;
    gap: 30px;
    padding:30px;
    overflow-x: auto;
    position: relative;
  }

  .sidenav-menu::after{
    content: '→';
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 5px;
    right: 30px;
    animation: 0.5s ease-in infinite alternate none seta;
  }

  @keyframes seta {
    from {
      right: 30px;
    }
    to {
      right: 20px;
    }
  }

  .sidenav-menu li a{
    margin: 0px;
  }
}
